<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">Car Rental Service</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
             <!-- <a (click)="onOpenModal(null, 'add')" class="nav-link" > Add Employee <span class="sr-only">(current)</span></a> -->
          </li>
       </ul>
       <form #findForm="ngForm" class="form-inline my-2 my-lg-0">
          <input type="search" #key="ngModel" ngModel
           name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search reservation.." required>
           <button [disabled]="findForm.invalid" type="submit" class="btn btn-primary" (click)="openDialog()">Find</button>
       </form>
    </div>
</nav>